<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webank.Appointment.dao.ActivityInfoDao">

	<select id="getMyPaticipate"  parameterType="int" resultType="activityInfo">
    	SELECT * FROM yb_activityinfo WHERE  activityid IN (
    	SELECT yb_activityinfo.activityid FROM yb_activityinfo JOIN yb_paticipateinfo ON yb_activityinfo.activityid=yb_paticipateinfo.activityid WHERE yb_paticipateinfo.userid=#{userId});
 	</select>

	<select id="getTotal"  parameterType="java.sql.Timestamp" resultType="int">
    	select count(1) from yb_activityinfo where endTime >#{time} and activitystate=1;
    </select>
	
	<select id="queryByRange"   resultMap="activityInfo">
    	select * from yb_activityinfo where endtime >#{2} and activitystate=1 order by endtime asc limit #{0},#{1};
    </select>
	
	<select id="getActivityById" parameterType="int" resultMap="activityInfo">
    	select * from yb_activityinfo where activityid=#{activityId};
    </select>

	<select id="getActivitiesByTheme" parameterType="String" resultMap="activityInfo">
    	select * from yb_activityinfo where activitytheme like concat(concat('%',#{theme}),'%');
    </select>
    
	<select id="getActivitiesByUserId" parameterType="int" resultMap="activityInfo">
    	select * from yb_activityinfo where userid=#{userId};
    </select>

	<select id="getActivitiesByTime" resultMap="activityInfo" parameterType="java.util.Map">
    	select * from yb_activityinfo 
    	<where>
    	<if test="startTime!=null and startTime!='' ">
    	starttime>=#{startTime}
    	</if>
    	<if test="endTime!=null and endTime!='' ">
    	endtime &lt;=#{endTime}
    	</if>
    	</where>
    </select>

	<select id="getActivitiesByType" parameterType="int" resultMap="activityInfo">
    	select * from yb_activityinfo where activitytype=#{type};
    </select>
	
	<select id="getActivitiesByPlace" parameterType="String" resultMap="activityInfo">
    	select * from yb_activityinfo where activityplace=#{place};
    </select>

	<select id="getActivitiesByXY" resultMap="activityInfo">
    	select * from yb_activityinfo where activityplace_x=#{0} and activityplace_y=#{1};
    </select>

	<select id="getActivitiesByDesc" parameterType="String" resultMap="activityInfo">
    	select * from yb_activityinfo where activityinfo like  concat(concat('%',#{desc}),'%');
    </select>

	<select id="getActivitiesByState" parameterType="int" resultMap="activityInfo">
    	select * from yb_activityinfo where activitystate = #{state};
    </select>

	
	<select id="getActivitiesByThemeState" resultMap="activityInfo">
    	select * from yb_activityinfo where activitytheme = #{0} and activitystate=#{1};
    </select>
	
	<select id="getActivitiesByUserIdState" resultMap="activityInfo">
    	select * from yb_activityinfo where userid = #{0} and activitystate=#{1};
    </select>

	<select id="getActivitiesByTimeState" resultMap="activityInfo">
    	select * from yb_activityinfo where starttime > #{0} and endtime &lt;#{1} and activitystate=#{2};
    </select>

	<select id="getActivitiesByTypeState" resultMap="activityInfo">
    	select * from yb_activityinfo where activitytype=#{0} and activitystate=#{1};
    </select>
	
	<select id="getActivitiesByPlaceState" resultMap="activityInfo">
    	select * from yb_activityinfo where activityplace=#{0} and activitystate=#{1};
    </select>

	<select id="getActivitiesByXYState" resultMap="activityInfo">
    	select * from yb_activityinfo where activityplace_x=#{0} and activityplace_y=#{1} and activitystate=#{2};
    </select>

	<select id="getActivitiesByDescState" resultMap="activityInfo">
    	select * from yb_activityinfo where activityinfo=#{0} and activitystate=#{1};
    </select>
	
	
	<insert id="addActivity" parameterType="ActivityInfo" keyProperty="activityid" useGeneratedKeys="true">
		insert into yb_activityinfo(activitytheme,userid,starttime,endtime,activitytype,activityplace,detailplace,activityplace_x,activityplace_y,numbernow,numberup,activityinfo,contacter,contacternumber,genderrequire,ifrequire,password,comments) 
		values(#{activityTheme}, #{userId}, #{startTime},#{endTime},#{activityType},#{activityPlace},#{detailPlace},#{activityPlace_x},#{activityPlace_y},#{numberNow},#{numberUp},#{activityInfo},#{contacter},#{contacterNumber},#{genderRequire},#{ifRequire},#{password},#{comments});
	</insert>
	

	<delete id="deleteActivitiesById" parameterType="int">
	delete from yb_activityinfo where activityid=#{id};
	</delete>

	<update id="modifyActivity" parameterType="ActivityInfo">
	update yb_activityinfo set activitytheme=#{activityTheme},userid=#{userId},
	starttime=#{startTime},endtime=#{endTime},activitytype=#{activityType},
	activityplace=#{activityPlace},detailplace=#{detailPlace},activityplace_x=#{activityPlace_x},
	activityplace_y=#{activityPlace_y},activitystate=#{activityState},numbernow=#{numberNow},numberup=#{numberUp},
	activityinfo=#{activityInfo},contacter=#{contacter},contacternumber=#{contacterNumber},
	genderrequire=#{genderRequire},ifrequire=#{ifRequire},password=#{password},comments=#{comments}
	where activityid = #{activityId};
	</update>
	
    <resultMap type="ActivityInfo" id="activityInfo">  
        <id property="activityId" column="activityid"/>  
        <result property="activityTheme" column="activitytheme"/>  
        <result property="userId" column="userid"/>  
        <result property="launchTime" column="launchtime"/>  
        <result property="startTime" column="starttime"/>  
        <result property="endTime" column="endtime"/>  
        <result property="activityType" column="activitytype"/>  
        <result property="activityPlace" column="activityplace"/>  
        <result property="detailPlace" column="detailplace"/>  
        <result property="activityPlace_x" column="activityplace_x"/>  
        <result property="activityPlace_y" column="activityplace_y"/>  
        <result property="numberNow" column="numbernow"/>  
        <result property="numberUp" column="numberup"/>  
        <result property="activityInfo" column="activityInfo"/>  
        <result property="contacter" column="contacter"/>  
        <result property="contacterNumber" column="contacternumber"/>
        <result property="genderRequire" column="genderrequire"/>  
        <result property="activityState" column="activitystate"/>  
        <result property="ifRequire" column="ifrequire"/>  
        <result property="password" column="password"/>  
        <result property="comments" column="comments"/>  
    </resultMap>  
</mapper>
